@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "daisyui";

*:not([apply-default-fonts="false"]) {
  font-family: "Itim", "Darumadrop One", "Inter", sans-serif;
  letter-spacing: 0.08rem;
}

.body:not([apply-page-default-transitions="false"]),
.body:not([apply-page-default-transitions="false"]) *:not([apply-default-transitions="false"]) {
  transition: .32s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.countdown {
  & > * {
    &:before,
    &:after {
      font-family: monospace;
    }
  }
}

html,
body,
#__next {
  height: 100%;
}

#smooth-wrapper {
  height: 100%;
}

#smooth-content {
  min-height: 100%;
  will-change: transform;
}

.heroui-ripple {
  filter: blur(16px);
}

.mailcard {
  background: repeating-linear-gradient(45deg,
    rgb(255, 255, 255, 0.12),
    rgb(255, 255, 255, 0.12) 1rem,
    transparent 1rem,
    transparent 2rem
  ) rgb(255, 205, 159);
  border-radius: 4px;
}